.layout {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;  //элементы в колонку
  justify-content: space-between;  //по высоте

  &__header {
    text-align: center; // заголовок по центру
    margin-bottom: 20px;
  }

  &__content {
    flex: 1;   //чтобы занимал все место и был по цетру
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
  }
}
